<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3ce9c6;">
  <a class="navbar-brand" href="#">Cornertree Jobs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <div id="left-nav"> -->
        <a id="js" class="nav-link nav-role" style="color:white" routerLink="job-seeker">Job Seeker</a>
      <a id="rec" class="nav-link nav-role" style="color:white" routerLink="recruiter">Recruiter</a>
      <!-- </div> -->
      <!-- <div id="right-nav"> -->
        <a class="nav-link" routerLink="sign-up">Sign Up</a>
        <a class="nav-link" routerLink="job-posting">Post a Job</a>
        <a class="nav-link" routerLink="expert-support">Expert Support</a>
      <!-- </div>       -->
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>